/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #0f172a; /* dark modern look */
  color: white;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}